* {
    margin: 0;
}

.box {
    background: linear-gradient(#08f, #fff);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.semaforo {
    height: 400px;
    width: 250px;
    border: 1px solid black;
    background-color: rgb(31, 26, 26);
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

.circulo {
    height:100px;
    width:100px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    border: 1px solid rgb(134, 128, 128);
} 

.barra {
    height: 200px;
    width: 10px;
    border: 10px ridge rgb(138, 197, 248);
    background-color: rgb(182, 216, 246);
    margin-top: -10px;
}

.rojo {
    background-color:rgba(41, 0, 0, 0.637);
    animation: rojo 4s infinite;
    animation-delay:2s;
}

.amarillo {
    background-color:rgba(92, 98, 0, 0.637);
    animation: amarillo 4s infinite;
    animation-delay:3s;
}

.verde {
    background-color:rgba(5, 61, 0, 0.637);
    animation: verde 4s infinite;
    animation-delay:4s;
}

@keyframes rojo {

    10% {
        background-color: red;
    }

    50% {
        background-color:rgba(41, 0, 0, 0.637);
    }

}

@keyframes amarillo {

    10% {
        background-color: yellow;
    }

    50% {
        background-color:rgba(92, 98, 0, 0.637);
    }
}

@keyframes verde {

    10% {
        background-color: green;
    }

    50% {
        background-color:rgba(5, 61, 0, 0.637);
    }

}

