@use 'variables' as v;


* {
    margin: 0;
    box-sizing: border-box;
    font-size:62.5%; 
}

body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
    background-color: v.$gris;
}

h1 {
    font-size: 4rem;
    color: v.$blanco;
}

h2 {
    font-size: 3.6rem;
    color: v.$blanco;
}

h3 {
    font-size: 3rem;
    color: v.$blanco;
}

p {
    font-size: 2rem;
    color: v.$blanco;
    line-height: 1.5;
}

a {
    color: v.$blanco;
    text-decoration: none;
    font-size: 2rem;
}

span {
    font-size: 2rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: v.$verdeTurqueza;
    color: v.$gris;
    font-weight: 700;
    padding: .8rem 2rem;
    text-align: center;
    border-radius: 1.6rem;
    cursor: pointer;
}

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}