@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$fuentePrincipal: 'Lato', sans-serif;

$blanco: #ffffff;
$gris: #212121;
$grisClaro: #262626;
$verde: #59f590;
$verdeTurqueza: #2cffbb;

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px; 