@use 'base/mixins' as m;
@use 'base/variables' as v;

.bg-gris {
    background-color: v.$grisClaro;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
}

.mg {
    margin: 0 1rem;
}

.verde{
    color: v.$verde;
}